body {
    background-color: #e7d4ad;
    font-family: 'Georgia', serif;
    color: #333333;
}

hr {
    border: none;
    height: 2px;
    background-color: #000000;
    margin: 40px 12;
}

body {
    background-image: url('../Images/worldmap.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Page-outline {
    border: 5px solid #8b5e3c;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}


.map-box {
    width: 800px;       /* adjust to your map size */
    margin: 0 auto;
    border: 3px solid #444;
    border-radius: 10px;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: auto;
    display: block;
}